body {
    background-color: rgb(190, 187, 187);
}

.main {
    height: 450px;
    background-color: white;
    margin-top: 80px;
    border-radius: 20px;
}

.info {
    margin-left: 20px;
    padding-top: 2px;
}

input[type=text] {
    width: 260px;
    box-sizing: border-box;
    border: 2px solid lightblue;
    border-radius: 4px;
}

.container {
    width: 60vw;
    background-color: lightblue;
    margin: auto auto;
    height: 50vh;
}